{% extends 'template.html' %}
{% load static %}

{% block titulo %} HOME {% endblock %}

{% block main %}
    <h1>Usuários</h1>
        <a href="{% url 'add_usuario' %}">
            Adicionar
        </a>
    </h1>
    <table>
        {% for user in usuarios %}
        <tr>
            <td><h2>{{user.nome}}</h2></td>
            <td><h2>{{user.sobrenome}}</h2></td>
            <td>
                <a href="{% url 'excluir_usuario' user.id %}">
                Excluir
                </a>
            </td>
            <td>
                <a href="{% url 'editar_usuario' user.id %}">
                Editar
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}