{% extends "template.html"%}
{% load static %}
{% block 'titulo'%}Index{% endblock%}

{% block 'main' %}

    <img src="{% static 'img/sobre-nos.png' %}" alt="Logo oficial da Iris Cosméticos, composta por uma borboleta de corpo laranja
    com asas feitas de flores rosa claro, do lado direito está escrito com uma fonte de caligrafia Iris Cosméticos" class="img-index">
<div class="main-text">
    <h1 class="titulo">A história de Iris</h1>
    <p>Nossa missão é tananan e no futuro queremos ser os mais mais, mas nem tudo são flores. Queremos ampliar
    nosso público e marca para todas as pessoas que precisam de uma ajuda para se sentirem empoderadas!</p>
</div>

{% endblock %}